<!DOCTYPE html>
<html>
<head>
	<title>Amazon Login</title>
	  <link rel="stylesheet" href="{{ url_for('static', filename='Login.css') }}">	

</head>
<body>

	<div class="container">
		<div class="img">
			<img src="{{ url_for('static', filename='IMAGE/logo1.png') }}">
		</div>
		<div class="login-content">
			<form action="{{ url_for('productos') }}" method="get" >
				<img src="{{ url_for('static', filename='IMAGE/logo1.png') }}">
				<h2 class="title">LOGUEATE </h2>
				
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-envelope"></i>
           		   </div>
           		   <div class="div">
						<input type ="email" name = "email" placeholder="Email" required><span class="barra"></span>
           		   </div>
           		</div>
				
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
						<input type ="password" name = "contrasena" placeholder="Contraseña" required><span class="barra"></span>
            	   </div>
				   
				   </div>
				   
            	<a href="#">¿Olvidaste tu Contraseña?</a>
            	<button> INICIAR SESION </button>
            </form>
        </div>
    </div>
</body>
</html>